In [2]:
import pandas as pd

In [5]:
df_Country_code_Mapping = pd.read_csv("Country-Code-Mapping.csv")

In [7]:
df_Country_code_Mapping

     Value                           Label
0        4                     Afghanistan
1        6                         Albania
2        7                         Algeria
3        8                  American Samoa
4        9                         Andorra
5       10                          Angola
6       12                       Argentina
7       13                         Armenia
8       14             Asia/Pacific Region
9       15                       Australia
10      16                         Austria
11      17                      Azerbaijan
12      18                      Bangladesh
13      19                        Barbados
14      21                         Belarus
15      22                         Belgium
16      23                          Belize
17      24                         Bermuda
18      25                         Bolivia
19      26          Bosnia and Herzegovina
20      27                          Brazil
21      28  British Indian Ocean Territory
22      29                        Bulgaria
23      30                        Cambodia
24      31                        Cameroon
25      32                          Canada
26      33                  Cayman Islands
27      34                         Chennai
28      35                           Chile
29      36                           China
..     ...                             ...
122    144                 Slovak Republic
123    145                        Slovenia
124    146                         Somalia
125    147                    South Africa
126    148                     South Korea
127    149                           Spain
128    150                       Sri Lanka
129    151                           Sudan
130    152                       Swaziland
131    153                          Sweden
132    154                     Switzerland
133    155            Syrian Arab Republic
134    156                          Taiwan
135    157                      Tajikistan
136    158                        Tanzania
137    159                        Thailand
138    160                            Togo
139    161                         Tunisia
140    162                          Turkey
141    163                          Uganda
142    164                         Ukraine
143    165            United Arab Emirates
144    166                  United Kingdom
145    167                   United States
146    168                         Uruguay
147    171                      Uzbekistan
148    172                       Venezuela
149    173                         Vietnam
150    174                           Yemen
151    175                        Zimbabwe

[152 rows x 2 columns]